@using Nop.Web.Areas.CRM.Models.Zalo
@model BroadCastWrapperModel
@{

    Html.SetActiveMenuItemSystemName("CRM.ZaloOA.ListBroadCast");

}

@{

	int _stt = 1;
}

<nop-antiforgery-token />
@*<form asp-controller="HeThong" asp-action="ListSanPham" method="post">*@
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Details-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Title-->
			<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Danh sách tin Broadcast - <strong class="text-info">@Model.TenTaiKhoan</strong></h5>
            <!--end::Title-->
            <!--begin::Separator-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
            <!--end::Separator-->
            <!--begin::Search Form-->
            <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total"></span>
            </div>
            <!--end::Search Form-->

        </div>
        <!--end::Details-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Button-->
            <!--end::Button-->
        </div>
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <!--Begin::Body-->
            <div class="card-body">
                <div class="form-group row">
               

                </div>
<div class="dataTables_wrapper dt-bootstrap4 no-footer">
	<div class="row">
		<div class="col-md-12">
			<div class="dataTables_scroll">
				
				<div class="" style="position: relative;  width: 100%;">
					<table class="table table-striped- table-bordered table-hover dataTable no-footer" style="width: 100%;"  role="grid">
						<thead>
							<tr role="row">

								<th class="sorting_disabled text-center" rowspan="1" colspan="1" style="">STT</th>
								<th class="sorting_disabled text-center" rowspan="1" colspan="1" style="">Id</th>
								<th class="sorting_disabled text-center" rowspan="1" colspan="1" style="">Loại</th>
								<th class="sorting_disabled text-center" rowspan="1" colspan="1" style="">Tiêu đề</th>
								<th class="sorting_disabled text-center" rowspan="1" colspan="1" style="">Chức năng</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.medias)
							{
								
								<tr role="row" class="odd">
									<td style="text-align:center">
										@(_stt++)
									</td>
									<td style="text-align:center">
										@item.id
									</td>
									<td class="" style="text-align:center;">
										@item.type
									</td>
									<td class="" style="text-align:center;">
										@item.title
									</td>
									<td class="" style="text-align:center;">
													
														<a href="@Url.Action("DetailBroadCast", "ZaloOA")?accountId=@Model.ZaloId&amp;articleId=@item.id" class="btn btn-sm btn-info">
															<i class="flaticon2-checking"></i>
															Chi tiết
														</a>
													</td>
								</tr>
							}

							@if (Model.medias == null || Model.medias.Count == 0)
							{
								<text>
								<tr>
									<td colspan="7" class="text-center text-info">Không có dữ liệu được tìm thấy!</td>
								</tr>
								</text>
							}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>

<hr />

